In [1]:

import pyspark.sql.functions as F

from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

data = [
    [0, 'A', 223, 201603, 'PORT'],
    [0, 'A', 22, 201602, 'PORT'],
    [0, 'A', 422, 201601, 'DOCK'],
    [1, 'B', 3213, 201602, 'DOCK'],
    [1, 'B', 3213, 201601, 'PORT'],
    [2, 'C', 2321, 201601, 'DOCK']
]

df = spark.createDataFrame(data, ['id', 'type', 'cost', 'date', 'ship'])
df.show()

+---+----+----+------+----+
| id|type|cost|  date|ship|
+---+----+----+------+----+
|  0|   A| 223|201603|PORT|
|  0|   A|  22|201602|PORT|
|  0|   A| 422|201601|DOCK|
|  1|   B|3213|201602|DOCK|
|  1|   B|3213|201601|PORT|
|  2|   C|2321|201601|DOCK|
+---+----+----+------+----+

In [2]:
cost_avg = df.groupBy('id', 'type').pivot('date').avg('cost')
cost_avg.show()

+---+----+------+------+------+
| id|type|201601|201602|201603|
+---+----+------+------+------+
|  1|   B|3213.0|3213.0|  NULL|
|  2|   C|2321.0|  NULL|  NULL|
|  0|   A| 422.0|  22.0| 223.0|
+---+----+------+------+------+

In [3]:
machines = df.groupBy('id', 'type').pivot('date').agg(F.collect_set('ship'))
machines.show()

+---+----+------+------+------+
| id|type|201601|201602|201603|
+---+----+------+------+------+
|  0|   A|[DOCK]|[PORT]|[PORT]|
|  1|   B|[PORT]|[DOCK]|    []|
|  2|   C|[DOCK]|    []|    []|
+---+----+------+------+------+